body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #ecf0f1;
}

.container {
  display: flex;
  height: 100vh;
}

/*.div_main {*/
/*  width: auto;*/
/*  flex: 1;*/
/*  padding: 20px;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*}*/

/* sidebar */
i.fa-solid:hover {
  color: darkcyan;
}

i.fa-bars {
  cursor: pointer;
}

i.fa-xmark {
  float: right;
  margin: 5px 10px 0 0;
  cursor: pointer;
}

div.left-sidebar {
  width: 250px;
  height: 100vh;
  background-color: #ccc;
  padding-left: 0px;
}

div.left-sidebar.active {
  width: 50px;
}

div.btn-top {
  height: 30px;
  padding: 5px 10px 0 10px;
}

div.left-sidebar div.menu {
  height: 100vh;
  background-color: #ccc;
  /*background-color: lightcyan;*/
}

div.left-sidebar div.menu ul {
  padding: 10px 0 0 25px;
}

div.left-sidebar div.menu ul li {
  margin: 10px 0;
  /*cursor: pointer;*/
  /*list-style-type: none;*/
}

div.left-sidebar div.menu ul li:hover {
  text-decoration: underline;
  color: lightcoral;
}

.div_plase_login {
  padding: 0px 0 0 25px;
}

.div_category {
  padding: 25px 0 10px 15px;
}

.div_category_content {
  padding: 0 0 0 30px;
}

li > a {
  padding: 0 0 0 20px;
  text-decoration: none;
}

.bottom-border {
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 2px groove #eee;
}

.top-border {
  padding-top: 20px;
  border-top: 2px groove #eee;
}
/* sidebar end */

.div_header {
  display: flex;
  justify-content: center;
}

.content-header {
  /*position:absolute;*/
  /*bottom:0px;*/
  width: 260px;
  height: max-content;
  float: left;
  margin: 10px;
  margin-bottom: 0px;
  padding: 10px;
  background-color: rgba(241, 248, 251, 0.7);
  border-radius: 8px;
}

.div_content {
  flex: 1;
  padding: 20px;
  padding-top: 0px;
  display: flex;
  justify-content: center;
}

.div_title {
  width: 100%;
}

.title {
  font-size: 36px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #2c3e50;
}

.sub-title {
  width: 100%;
  font-size: 16px;
  margin-bottom: 20px;
  color: #7f8c8d;
}

.content {
  width: 260px;
  height: max-content;
  float: left;
  margin: 10px;
  margin-top: 0px;
  padding: 10px;
  background-color: rgba(241, 248, 251, 0.7);
  border-radius: 8px;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.div_abox {
  flex: 1;
  width: 100%;
  height: auto;
  /*min-height: 80px;*/
  background-color: #3498db;
  cursor: move;
  transition: transform 0.3s ease-in-out;
  border: 1px solid #2980b9;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 5px;
}

.a_content {
  display: block;
  color: inherit;
  text-decoration: none;
  user-select: none;
  transition: background 100ms ease-out 0s;
  cursor: pointer;
  box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.05) 0px 2px 4px;
  border-radius: 4px;
  background: white;
  overflow: hidden;
  margin-bottom: 5px;
  position: static;
  height: auto;
  /*min-height: 40px;*/
}

.div_element {
  height: auto;
  min-height: 21.6px;
  display: flex;
  clear: left;
  margin: 5px;
  padding: 5px;
  position: relative;
}
.a_content:hover {
  background-color:#f6bcd9;
  transition: 0.7s;
}

.div_span{
  display: inline-flex;
  align-items: center;
  flex-shrink: 1;
  min-width: 0px;
  max-width: 100%;
  height: 20px;
  border-radius: 10px;
  padding-left: 7px;
  padding-right: 9px;
  font-size: 14px;
  line-height: 120%;
  color: rgb(24, 51, 71);
  background: rgb(211, 229, 239);
  margin: 0px;
}

.header-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: small;
  display: inline-flex;
  align-items: center;
  height: 20px;
  line-height: 20px;
}


.circle {
  margin-right: 5px;
  border-radius: 99px;
  height: 8px;
  width: 8px;
  background-color: rgb(91, 151, 189);
  display: inline-flex;
  flex-shrink: 0;
}

.div_button {
  user-select: none;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
  white-space: nowrap;
  height: 32px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.2;
  min-width: 0px;
  margin-top: 10px;
  padding-left: 5px;
  color: rgb(91, 151, 189);
  width: 100%;
}

.div_button:hover {
  background-color:#f6bcd9;
  transition: 0.7s;
}

.div_tab {
  display: flex;
  align-items: center;
  height: 40px;
  left: 96px;
  width: 100%;
  box-shadow: rgb(233, 233, 231) 0px -1px 0px inset;
}

.form-group {
  float: left;
}