body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #ecf0f1;
}

.header {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 20px;
}

.menu {
  display: flex;
  gap: 10px;
}

.login-button,
.signup-button {
  cursor: pointer;
}

.container {
  width: 100%;
  display: flex;
  height: 100vh;
}

.navigation {
  background-color: #2c3e50;
  color: #fff;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.menu-toggle {
  cursor: pointer;
  font-size: 20px;
}

.menu {
  display: none;
}

.menu-item {
  padding: 8px;
  cursor: pointer;
}

.hide-button {
  cursor: pointer;
  margin-top: 10px;
}

.div_main {
  width: auto;
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.div_title {
  width: 100%;
}

.title {
  font-size: 36px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #2c3e50;
}

.sub-title {
  font-size: 16px;
  margin-bottom: 20px;
  color: #7f8c8d;
}

.content {
  width: 200px;
  height: max-content;
  float: left;
  margin: 10px;
  padding: 10px;
  background-color: #b5c1dc57;
  border-radius: 8px;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.div_abox {
  flex: 1;
  width: 100%;
  height: 80px;
  background-color: #3498db;
  cursor: move;
  transition: transform 0.3s ease-in-out;
  border: 1px solid #2980b9;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
  user-select: none;
  transition: background 100ms ease-out 0s;
  cursor: pointer;
  box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.05) 0px 2px 4px;
  border-radius: 4px;
  background: white;
  overflow: hidden;
  margin-bottom: 5px;
  position: static;
  height: 100%;
  min-height: 40px;
}

.div_element {
  height: 21.6px;
  display: flex;
  margin: 5px;
  padding: 5px;
  position: relative;
}
div.div_element:hover {
  background: rgba(55, 53, 47, 0.04);
}
